<div>
<div style="position:absolute;top:100px;left:10px;z-index:1999" ng-click="back()"><img src="assests/images/navbar/back_a.png" border=0  sgm-button the-left="30" ></div>
<div style="position:absolute;top:200px;left:26px;z-index:1999" ng-click="zoomin()"><img src="assests/images/map/zoomin.png" border=0 sgm-button the-left="1" ></div>
<div style="position:absolute;top:330px;left:26px;z-index:1999" ng-click="zoomout()"><img src="assests/images/map/zoomout.png" border=0 sgm-button the-left="1" ></div>
<div sgm-gaode-map div-height="442" div-width="800" markers="markers" center="location" destenation="destenation" marktype="marktype" pathlist="pathlist" zoomin="zoominplus" zoomout="zoomminus" tele-clicked="makephonecall(telephone)">
</div>
</div>