<div class="subpage">
	<div class="navheader">
		<img src="assests/images/navbar/back.png" border=0 class="home" ng-click="back()" sgm-button the-left="40" />
		<div class="pagetitle">指示灯查询</div>
		<img src="assests/images/home/close_btn.png" border=0 class="closebutton" ng-click="closeapp()" />
	</div>
	<div class="bodyarea">
		<div sgm-scroller initpos="initpos" maxno="3" currentrow="rowindex(index)" class="scrollerbar" >
		</div>
		<div sgm-grid class="gridbar" griditems="indicators" itemclicked="clickeditem(item)">
		</div>
	</div>
</div>